<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= AppName %></title>
		<base href="<%= baseRef %>">
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles/main.min.css">
		<link href="images/favicon.ico" rel="icon">
	</head>

	<body>
		<div>
			<h1>Hi there!</h1>
		</div>
	</body>
	<script src="node_modules/bootstrap-without-jquery/bootstrap3/bootstrap-without-jquery.min.js"></script>
</html>
